/* import font */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300;400;500;700;900&display=swap');

/* reset */
* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Encode Sans Expanded', sans-serif;
}
.container {
    padding: 3%;
    background-color: #5f5f5f;
}

.page-title {
    color: #dadada;
}

.page-title a {
    color: #568aa8;
}

/* Flexbox parent container */
.container-flexbox {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.item-col-3 { 
    width: 32%;
    min-height: 200px;
}

.item-col-2 { 
    width: 48%;
    min-height: 200px;
}

.card {
    background-color: #efefef;
    min-height: 150px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(167, 167, 167, 0.5);
    margin: 1%;
    opacity: 90%;
}

.card-media .image{
    max-width: 100%;
    max-height: 233px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.card-title {
    font-weight: 900;
    padding: 3%;
}

.card-content {
    border-bottom: 1px solid #5f5f5f;
    font-weight: 500;
    padding: 3%;
    min-height: 100px;
}

.card-footer {
    font-weight: 400;
    padding: 3%;
    line-clamp: 2;
}

.section-header {
    padding: 3% 1%;
    color: rgb(219, 218, 218);

}

a {
    color: #8ea2fd;
    padding: 2px;
}

a:hover {
    color: #4055b6;
    background-color: white;
    padding: 2px;
    
}

.m-t-md {
    margin-top: 15px;
}

.card-content input[type="text"] {
    width: 98%;
    padding: 5px 0px;
    margin: 5px 0px;
    line-height: 1.7;
    border-radius: 5px;
    padding-left: 10px;
}

.btn {
    padding: 10px 15px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #8ea2fd;
    color: white;
} 

.btn:hover {
    background-color: #4055b6;
    color: white;
} 

.gmap_canvas {
    border-radius: 5px;
}